<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Location of raw consumption files to process-->
    <add key="ImportDirectory" value="Sample Files"/>

    <!--Optimum buffer size to use with StreamReader-->
    <add key="Processor_StreamReaderOptimalBuffer" value="65536"/>

    <!--VariancePercent to identify min and max window for abnormal data-->
    <add key="AbnormalDataProcess_variancePercent" value="0.2"/>

    <!--Minimum viable record count to consider when performing processing.-->
    <add key="AbnormalDataProcess_minimum_viable_records" value="3"/>
    
  </appSettings>
</configuration>